/* Rectangle 54 */
.Rectangle54{
box-sizing: border-box;

position: absolute;
width: 1190px;
height: 80px;
left: 365px;
top: 1306px;

background: #FFFFFF;
border: 1px solid #777777;
}


/* 상세 정보 */
.view-detail{
position: absolute;
width: 100px;
height: 19px;
left: 118px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #5604B5;
}





/* 관람 후기 */
.view-after{
position: absolute;
width: 64px;
height: 19px;
left: 400px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #3D3A35;
}


/* 장소 정보 */
.area-info{
position: absolute;
width: 100px;
height: 19px;
left: 700px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;

}

/* 예매 / 취소 안내 */
.about-cancel{
position: absolute;
width: 108px;
height: 19px;
left: 1000px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #3D3A35;
}

 

/* 출연진 */
.actor{
position: absolute;
width: 45px;
height: 19px;
left: 937px;
top: 1950px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;
}


/* Ellipse 6 */
.Ellipse6{
position: absolute;
width: 78px;
height: 78px;
left: 536px;
top: 2014px;

background: #D9D9D9;
}

/* Ellipse 10 */
.Ellipse10{
position: absolute;
width: 78px;
height: 78px;
left: 1048px;
top: 2014px;
}
// background: url(image.png);


/* Ellipse 7 */
.Ellipse7{
position: absolute;
width: 78px;
height: 78px;
left: 664px;
top: 2014px;

// background: url(image.png);

}
/* Ellipse 8 */
.Ellipse8{
position: absolute;
width: 78px;
height: 78px;
left: 920px;
top: 2014px;
}
// background: url(image.png);


/* Ellipse 13 */
.Ellipse13{
position: absolute;
width: 78px;
height: 78px;
left: 1304px;
top: 2014px;
}
// background: url(image.png);


/* Ellipse 14 */
.Ellipse14{
position: absolute;
width: 78px;
height: 78px;
left: 1176px;
top: 2014px;
}
// background: url(image.png);


/* Ellipse 11 */
.Ellipse11{
position: absolute;
width: 78px;
height: 78px;
left: 536px;
top: 2014px;
}
// background: url(image.png);


/* Ellipse 12 */
.Ellipse12{
position: absolute;
width: 78px;
height: 78px;
left: 792px;
top: 2014px;
}
// background: url(image.png);





/* 김지연 윤이서 */
.actor2 {
position: absolute;
width: 36px;
height: 37px;
left: 557px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}


/* 김지연 윤이서 */
.actor3{
position: absolute;
width: 36px;
height: 37px;
left: 1197px;
top: 2096px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;

}

/* 김지연 윤이서 */
.actor4{
position: absolute;
width: 36px;
height: 37px;
left: 1325px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;

}

/* 김지연 윤이서 */
.actor5{
position: absolute;
width: 36px;
height: 37px;
left: 1069px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}


/* 김지연 윤이서 */
.actor6{
position: absolute;
width: 36px;
height: 37px;
left: 685px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}


/* 김지연 윤이서 */
.actor7{
position: absolute;
width: 36px;
height: 37px;
left: 814px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;

}

/* 김지연 윤이서 */
.actor8{
position: absolute;
width: 36px;
height: 37px;
left: 943px;
top: 2099px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}


/* Rectangle 56 */
.Rectangle56{
position: absolute;
width: 1189px;
height: 1000px;
left: 365px;
top: 2178px;

// background: url(image.png);
}





/* Rectangle 49 */
.Rectangle49-1{
position: absolute;
width: 674px;
height: 427px;
left: 641px;
top: 1451px;

background: #D9D9D9;
border-radius: 5px;
}




/* 관람객 주의사항 */
.sub-guide{
position: absolute;
width: 169px;
height: 30px;
left: 366px;
top: 3263px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #3D3A35;

}

/* Rectangle 49 */
.Rectangle49{
position: absolute;
width: 1189px;
height: 159px;
left: 363px;
top: 3310px;

background: #D9D9D9;
border-radius: 27px;
}